# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.LRMini.iml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
LRMini/.idea
*.user
*.cache
*.editorconfig
*.json
*.pdb
*.CopyComplete
*.txt
LiteVip/.idea/.idea.LiteVip.dir/.idea/indexLayout.xml
LiteVip/.idea/.idea.LiteVip.dir/.idea/projectSettingsUpdater.xml
LiteVip/.idea/.idea.LiteVip.dir/.idea/vcs.xml
LiteVip/.idea/.idea.LiteVip.dir/.idea/workspace.xml
LiteVip/obj/Debug/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
LiteVip/obj/Debug/net7.0/LiteVip.AssemblyInfo.cs
LiteVip/obj/LiteVip.csproj.nuget.g.props
LiteVip/obj/release/net7.0/.NETCoreApp,Version=v7.0.AssemblyAttributes.cs
*.targets
LiteVip/obj/release/net7.0/LiteVip.AssemblyInfo.cs
LiteVip/bin/release/net7.0/publish/LiteVip.zip
LiteVip/.idea/.idea.LiteVip.dir/.idea/discord-ij.xml
*.xml
*.info
LiteVip/bin/release/net7.0/CounterStrikeSharp.API.dll
LiteVip/bin/release/net7.0/LiteVip.dll
LiteVip/bin/release/net7.0/publish/addons/counterstrikesharp/plugins/LiteVip/Dapper.dll
LiteVip/bin/release/net7.0/publish/addons/counterstrikesharp/plugins/LiteVip/LiteVip.dll
LiteVip/bin/release/net7.0/publish/addons/counterstrikesharp/plugins/LiteVip/Microsoft.Extensions.Logging.Abstractions.dll
LiteVip/bin/release/net7.0/publish/addons/counterstrikesharp/plugins/LiteVip/MySqlConnector.dll
LiteVip/bin/release/net7.0/publish/CounterStrikeSharp.API.dll
LiteVip/bin/release/net7.0/publish/Dapper.dll
LiteVip/bin/release/net7.0/publish/LiteVip.dll
LiteVip/bin/release/net7.0/publish/Microsoft.Extensions.Logging.Abstractions.dll
LiteVip/bin/release/net7.0/publish/MySqlConnector.dll
LiteVip/obj/release/net7.0/LiteVip.dll
LiteVip/obj/release/net7.0/ref/LiteVip.dll
LiteVip/obj/release/net7.0/refint/LiteVip.dll
old/CounterStrikeSharp.API.dll
